<!DOCTYPE html>
<html>
<head>
  <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="~/css/StyleSheet.css" rel="stylesheet" />
  <title>@ViewData["Titel"] - Samo's News</title>
</head>
<body>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 my-1">
      <h3 class="bg-dark text-center text-white ">Samo's News</h3>
      @RenderBody()
    </div>
  </div>
</body>
</html>